<div data-controller="user">
	<h1 class="text-center">USER INDEX TABLE</h1>
	<div class="d-flex justify-content-between mb-3">
		<%= form_with url: '/search', method: :get, data: { action: "ajax:success->user#handleSearchResults", target: "user.form" }, local: false do |form| %>
			<div>
				<%= form.text_field :search, data: { action: "input->user#search" }, class: 'form-control rounded', placeholder: "Search", aria: { label: "Search"}, autocomplete: "off" %>
			</div>
		<% end %>
		<button class="btn btn-primary" data-action="click->user#openModal">Create New User</button>
	</div>


	<table class="table w-100" id="table" data-user-target="table">
		<thead class="thead-dark">
			<tr>
				<th>S/n</th>
				<th><%= link_to "Last Updated", users_path(:sort => "updated_at"), data: {target: 'user.last'} %></th>
				<th><%= link_to "Name", :sort => "name" %></th>
				<th><%= link_to "Email", :sort => "email" %></th>
				<th><%= link_to "Title", :sort => "title" %></th>
				<th><%= link_to "Phone", :sort => "phone" %></th>
				<th><%= link_to "Status", :sort => "status" %></th>
				<th>Action</th>
			</tr>
		</thead>
	</table>

	<div class="pagination" id="pages">
	</div>

	<div id="modal" class="modal" tabindex="-1" data-user-target="modal">
		<div class="modal-dialog">
			<div class="modal-content p-5">
				<div class="form-group">
					<p>Name:</p>
					<input class="form-control" type="text" data-user-target="name" placeholder="John Snow" />
				</div>
				<div class="form-group">
					<p>Email:</p>
					<input class="form-control" type="text" data-user-target="email" placeholder="john@snow.com" />
				</div>
				<div class="form-group">
					<p>Title:</p>
					<input class="form-control" type="text" data-user-target="title" placeholder="Mr" />
				</div>
				<div class="form-group">
					<p>Phone:</p>
					<input class="form-control" type="text" data-user-target="phone" placeholder="5478923438473" />
				</div>
				<div class="form-group">
					<p>Status:</p>
					<input class="form-control" type="text" data-user-target="status" placeholder="active or inactive" />
				</div>
				<div class="save-button" data-user-target="saveUser">
				</div>

				<button class="btn btn-danger" data-action="click->user#close">Close</button>
			</div>
		</div>
	</div>

	<div id="delete-modal" class="modal" tabindex="-1" data-user-target="confirmModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirm Delete</h5>
				</div>
				<div class="modal-body">
					<p>Are you sure?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-action="click->user#close">Close</button>
					<button type="button" class="btn btn-primary" data-action="click->user#handleDeleteSuccess" data-user-target="save">Yes</button>
				</div>
			</div>
		</div>
	</div>
</div>
